@import 'style-window.css';

body {
  background-image: url(/home/vyacheslav/Projects/shop/img/wood1.png);
}

h1 {
  color: gray;
  text-align: center;
  -webkit-text-stroke: 2px black;
  font-size: 60px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.basis {
  display: grid;
  grid-template: auto 1fr auto / auto 1fr auto;
}

.menu-item:hover {
  background: orange;
  color: white;
  cursor: pointer;
}

.menu {
  background: whitesmoke;
  margin-left: 38px;
  width: 232px;
  height: 380px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  line-height: 55px;
  border-radius: 10px;
  overflow: hidden;
  list-style-type: none;
  padding-left: 0;
}

.buy {
  background: transparent;
  margin: 0px 40px 0px 40px;
  border: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.basket {
  background: orange;
  margin-left: 38px;
  margin-top: 50px;
  width: 232px;
  height: 232px;
  border-radius: 10px;
}

.basket-icon {
  background: gold;
  color: white;
  border-radius: 10px 10px 0px 0px;
  text-align: center;
  line-height: 55px;
  font-size: 35px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-bottom: 4px;
  padding: 0px 15px 0px 0px;
}

.order-name-and-quantity {
  background: yellow;
  color: black;
  display: inline-block;
  text-align: center;
  height: 40px;
  width: 114px;
  line-height: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 633;
}

.total {
  background: yellow;
  text-align: center;
  line-height: 45px;
  margin-top: 4px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 633;
}

.order-button {
  background: yellow;
  line-height: 60px;
  border-radius: 0px 0px 10px 10px;
}

.ordering-food {
  font-weight: 700;
  color: white;
  text-decoration: none;
  padding: 0.8em 1em calc(0.8em + 3px);
  border-radius: 3px;
  background: gray;
  box-shadow: 0 -3px black inset;
  transition: 0.2s;
  margin-left: 38px;
  margin-right: 30px;
  margin-top: 2px;
  margin-bottom: 30px;
  cursor: pointer;
}

.icon {
  width: 60px;
  height: 40px;
  margin: 0px 0px -7px 10px;
  padding: 0px 3px 0px 0px;
}

.main-burger-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  max-inline-size: 1140px;
  margin-inline: auto;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.main-burger-content.open {
  visibility: visible;
  position: absolute;
  top: 0;
}

.card-product {
  flex: 1 1 150px;
  margin: -12px 0px 0px 50px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.names {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  /* border-bottom: 3px solid black; */
  padding-bottom: 7px;
  font-weight: 633;
  font-size: 20px;
}

.ingredients {
  color: dodgerblue;
  font-weight: 800;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  text-decoration: underline;
  text-underline-offset: 3px;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  padding-top: 5px;
  padding-bottom: 12px;
  height: 30px;
  max-width: 200px;
}

.price {
  padding-top: 7px;
  color: chocolate;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.in-basket {
  background: gold;
  color: white;
  font-weight: 800;
  padding: 3px 3px;
  min-width: 150px;
  margin-top: 5px;
  margin-bottom: 30px;
  border: solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.quantity {
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  margin-top: 10px;
}

.buttons {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

.input {
  max-width: 40px;
  margin: 0 20px 0 20px;
  border-radius: 4px;
  outline: none;
  text-align: center;
  border: 1px solid gray;
}

.main-pancakes-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  max-inline-size: 1140px;
  margin-inline: auto;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.main-pancakes-content.open {
  visibility: visible;
  position: absolute;
  top: 0;
}

.main-shawarma-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  max-inline-size: 1140px;
  margin-inline: auto;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.main-shawarma-content.open {
  visibility: visible;
  position: absolute;
  top: 0;
}

.main-sandwiches-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  max-inline-size: 1140px;
  margin-inline: auto;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.main-sandwiches-content.open {
  visibility: visible;
  position: absolute;
  top: 0;
}

.main-chicken-and-potato-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  max-inline-size: 1140px;
  margin-inline: auto;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.main-chicken-and-potato-content.open {
  visibility: visible;
  position: absolute;
  top: 0;
}

.main-tortilla-and-salads-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  max-inline-size: 1140px;
  margin-inline: auto;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.main-tortilla-and-salads-content.open {
  visibility: visible;
  position: absolute;
  top: 0;
}

.main-drinks-and-desserts-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  max-inline-size: 1140px;
  margin-inline: auto;
  visibility: hidden;
  position: absolute;
  top: 0;
}

.main-drinks-and-desserts-content.open {
  visibility: visible;
  position: absolute;
  top: 0;
}

.all-product-card-windows {
  position: relative;
}
