.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 99998;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4, visibility 0.4s;
}

.modal-box {
  /* position: relative;
  max-width: 700px;
  min-width: 700px;
  max-height: 500px;
  min-height: 500px;
  z-index: 2;
  margin: 30px 15px;
  background-color: white;
  transform: scale(0);
  transition: transform 0.8s;
  border-radius: 5px;
  overflow: hidden; */
  transform: scale(0);
  transition: transform 0.8s;
  overflow: hidden;
  border-radius: 5px;
  position: absolute;
  max-width: 60vw;
  min-width: 50vw;
  left: 10vw;
}

.modal-close-btn {
  position: absolute;
  border: none;
  top: -5px;
  right: -5px;
  border: none;
  background-color: transparent;
  padding: 5px;
  cursor: pointer;
}

.modal.open {
  visibility: visible;
  opacity: 1;
}

.modal.open .modal-box {
  transform: scale(1);
}

.price-button {
  border-radius: 25px;
}

.modal-window-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff8f8;
  background-color: gold;
  margin: 0;
  padding: 10px 0;
  text-align: center;
}

.modal-window-menu {
  background: rgb(228, 219, 219);
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 35px;
  /* background: rgb(228, 219, 219);
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  padding: 170px 170px 0px 170px;
  margin-top: -20px;
  max-height: 200px;
  max-width: 800px;
  min-height: 200px;
  min-width: 375px; */
}

.items-menu {
  display: flex;
  justify-content: center;
  /* display: flex;
  flex-direction: row;
  font-size: 15px;
  background: white;
  height: 40px;
  width: 650px;
  margin: -140px 0px 0px -145px;
  border-radius: 6px;
  overflow: hidden;
  position: absolute; */
  background: white;
  height: 40px;
  /* width: 650px; */
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
}

.item-modal-window-menu {
  /* width: 100px;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-weight: 600;
  background: white; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  background: white;
  width: 18%;
  border: 0;
}

/* .item-modal-window-menu.open {
  width: 100%;
  border: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 17px;
  font-weight: 600;
  background: rgb(224, 116, 116);
} */

.item-modal-window-menu:hover {
  background: rgb(224, 116, 116);
  color: white;
  cursor: pointer;
}

.elements-window {
  display: block;
}

.price-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  cursor: pointer;
  padding-bottom: 10px;
}

.price-quantity-in-basket {
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

.price-and-basket {
  display: flex;
  flex-direction: row;
  justify-content: center;

  /* width: 700px; */
  /* height: 62px; */
  /* margin: -3px 0px 0px 219px; */
}

.quantity-in-modal {
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
}

.buttons-and-quantity {
  display: flex;
  flex-direction: column;
}

.input-in-modal-window {
  max-width: 40px;
  margin: 0 20px 0 20px;
  border: 1px solid gray;
  padding: 2px 20px 0px 20px;
  border-radius: 4px;
  outline: none;
  text-align: center;
}

/* .input {
  max-width: 40px;
  margin: 0 20px 0 20px;
  border: 1px solid gray;
  padding: 2px 20px 0px 20px;
  border-radius: 4px;
  outline: none;
  text-align: center;
  background: white;
} */

.menu-size-product.open {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.menu-size-product {
  left: 0;
  top: 0;
  width: 100%;
  height: 295px;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  margin: -295px 0px 0px 0px;
  background: rgb(228, 219, 219);
  color: black;
}

.menu-products {
  display: flex;
  justify-content: space-between;
  /* left: 0;
  top: 0;
  width: 100%;
  height: 295px;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  position: relative;
  margin: -295px 0px 0px 0px;
  background: transparent;
  color: black; */
  margin-bottom: 5px;
  position: relative;
}

.menu-products.one-button {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
  position: relative;
}

.size-cards {
  /* display: flex; */
  /* column-count: 2; */
  /* display: flex;
  flex-direction: row; */
  /* background: rgb(228, 219, 219); */
  /* border-radius: 6px; */
  /* margin: -85px 0px 0px 0px; */
  /* padding: 12px 26px 10px 26px; */
  /* overflow: auto; */
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  max-height: 42vh;
  overflow-y: auto;
  /* margin-bottom: 20px; */
}

.one-forward-button {
  /* position: fixed; */
  border: none;
  /* top: 140px; */
  /* right: 28px; */
  border: none;
  background-color: rgb(224, 116, 116);
  padding: 5px 10px 5px 25px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
}

.forward-button {
  /* position: fixed; */
  border: none;
  /* top: 140px; */
  /* right: 28px; */
  border: none;
  background-color: rgb(224, 116, 116);
  padding: 5px 10px 5px 25px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
}

.back-button {
  /* position: fixed; */
  border: none;
  /* top: 140px; */
  /* left: 28px; */
  border: none;
  background-color: rgb(224, 116, 116);
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  color: white;
  text-align: center;
}

.indent-for-word-forward {
  margin: 2px 0px 0px 0px;
  padding: 0px 15px 0px 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 999;
}

.indent-for-word-back {
  margin: 2px 0px 0px 0px;
  padding: 0px 15px 0px 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-weight: 999;
}

.price-of-ingredients {
  background-color: yellow;
  position: relative;
}

.product-size-card-buttons {
  display: flex;
  flex-direction: column;
  background: rgb(228, 219, 219);
  border: none;
  border-radius: 5px;
}

.product-size-card-buttons.open {
  background: gold;
}

.product-size-card-buttons.openTwo {
  background: blueviolet;
}

.product-size-card-buttons:hover {
  cursor: pointer;
  border: none;
}

.space-for-array-vegetables {
  display: inline;
}

.space-for-array-sauces {
  display: inline;
}

.space-for-array-stuffing {
  display: inline;
}

.opptions-background-little-bread {
  background: white;
  width: 125px;
  height: 125px;
  border-radius: 100%;
  overflow: hidden;
  border: 10px solid gold;
  margin: 10px 0px 0px 0px;
}

.opptions-background-img-card {
  background: white;
  width: 125px;
  height: 125px;
  border-radius: 100%;
  overflow: hidden;
  border: 10px solid gold;
  margin: 10px 0px 0px 0px;
}

.img-bread {
  margin: 30px 0px 0px 0px;
  width: 100px;
  border-radius: 50%;
}

.img-size {
  margin: 30px 0px 0px 0px;
  width: 100px;
  border-radius: 50%;
}

.img-filling {
  margin: 30px 0px 0px 0px;
  width: 100px;
  border-radius: 50%;
}

.img-filling-final {
  margin: 17px 0px 0px 15px;
  width: 100px;
  border-radius: 50%;
}

.img-vegetables {
  margin: 30px 0px 0px 0px;
  width: 100px;
  border-radius: 50%;
}

.img-sauce {
  margin: 30px 0px 0px 0px;
  width: 100px;
  border-radius: 50%;
}

.final-little-bread {
  width: 125px;
  border-radius: 50%;
}

.opptions-background-img {
  background: white;
  width: 125px;
  height: 125px;
  border-radius: 100%;
  overflow: hidden;
  border: 10px solid gold;
}

.size-bread {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 633;
  font-size: 17px;
  padding-top: 15px;
  width: 150px;
  text-underline-offset: 3px;
  border-bottom: 3px solid black;
  height: 30px;
  max-width: 200px;
  padding-bottom: 10px;
  overflow: hidden;
  word-break: break-all;
}

.vegetables-of-your-choice {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 633;
  font-size: 17px;
  padding-top: 15px;
  width: 150px;
  text-underline-offset: 3px;
  border-bottom: 3px solid black;
  height: 30px;
  max-width: 200px;
  padding-bottom: 10px;
  overflow: hidden;
  word-break: break-all;
}

.sauces-for-product-creation {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 633;
  font-size: 17px;
  padding-top: 15px;
  width: 150px;
  text-underline-offset: 3px;
  border-bottom: 3px solid black;
  height: 30px;
  max-width: 200px;
  padding-bottom: 10px;
  overflow: hidden;
  word-break: break-all;
}

.type-of-bread {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 633;
  font-size: 17px;
  padding-top: 15px;
  width: 150px;
  text-underline-offset: 3px;
  border-bottom: 3px solid black;
  height: 30px;
  max-width: 200px;
  padding-bottom: 10px;
  overflow: hidden;
  word-break: break-all;
}

.the-final-filling-in-the-product {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 633;
  font-size: 17px;
  padding-top: 15px;
  width: 150px;
  text-underline-offset: 3px;
  border-bottom: 3px solid black;
  height: 30px;
  max-width: 200px;
  padding-bottom: 10px;
  overflow: hidden;
  word-break: break-all;
}

.price-bread {
  color: chocolate;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-top: 6px;
  width: 150px;
  padding-bottom: 35px;
}

.price-size {
  color: chocolate;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-top: 6px;
  width: 150px;
  padding-bottom: 35px;
  display: inline;
}

.price-size-letters {
  color: chocolate;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-top: 6px;
  width: 150px;
  padding-bottom: 20px;
  display: inline;
}

.price-vegetables {
  color: chocolate;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-top: 6px;
  width: 150px;
  padding-bottom: 35px;
}

.price-sauces {
  color: chocolate;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-top: 6px;
  width: 150px;
  padding-bottom: 35px;
}

.price-filling {
  color: chocolate;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  padding-top: 6px;
  width: 150px;
  padding-bottom: 5px;
  display: inline;
}

.bread-selection-menu.open {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.bread-selection-menu {
  left: 0;
  top: 0;
  width: 100%;
  height: 295px;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  margin: -295px 0px 0px 0px;
  background: rgb(228, 219, 219);
  color: black;
}

.vegetable-setting-menu.open {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.vegetable-setting-menu {
  left: 0;
  top: 0;
  width: 100%;
  height: 295px;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  margin: -295px 0px 0px 0px;
  background: rgb(228, 219, 219);
  color: black;
}

.sauces-setting-menu.open {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.sauces-setting-menu {
  left: 0;
  top: 0;
  width: 100%;
  height: 295px;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  margin: -295px 0px 0px 0px;
  background: rgb(228, 219, 219);
  color: black;
}

.stuffing-settings-menu.open {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.stuffing-settings-menu {
  left: 0;
  top: 0;
  width: 100%;
  height: 295px;
  z-index: 1;
  display: grid;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  margin: -295px 0px 0px 0px;
  background: rgb(228, 219, 219);
  color: black;
}

.final-created-product.open {
  position: relative;
  visibility: visible;
  opacity: 1;
}

.final-created-product {
  left: 0;
  top: 0;
  width: 100%;
  height: 295px;
  z-index: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  overflow-y: auto;
  visibility: hidden;
  opacity: 0;
  margin: -295px 0px 0px 0px;
  background: rgb(228, 219, 219);
  color: black;
}

.gallery {
  margin: 0;
  padding: 0;
  list-style: none;
  transition: margin-left 250ms;
}

.selection-columns {
  width: 800px;
  /* margin: 0px 0px 53px 60px; */
  display: flex;
}

.name-of-final-products {
  width: 400px;
  margin-bottom: 20px;
}

.your-product-is-ready {
  padding: 0px 33px 0px 0px;
  border-bottom: 2px solid;
  font-size: 20px;
  font-weight: 600;
  width: 350px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.name-final-product {
  padding: 20px 33px 22px 0px;
  border-top: 2px solid;
  font-size: 20px;
  font-weight: 600;
  width: 350px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container-img {
  padding: 0px 30px 0px 0px;
}

.stuffing-final-product {
  border-bottom: 2px solid;
  width: 433px;
  padding-bottom: 10px;
}

.names-is-products-in-final-block {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
}

.size-of-the-final-product {
  padding-top: 10px;
}

.the-two-remaining-sections {
  padding-bottom: 10px;
}

.the-one-remaining-sections {
  padding-bottom: 10px;
}

.the-bread-remaining-sections {
  padding-bottom: 10px;
  padding-top: 10px;
}

.products-in-line {
  display: inline;
}

.price-in-the-basket {
  padding-top: 7px;
  color: chocolate;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.price-in-basket-letters {
  padding-top: 7px;
  padding-right: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  color: chocolate;
  font-weight: 700;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.little-size-bread {
  margin: 30px 0px 0px 0px;
  width: 100px;
  border-radius: 50%;
}

.add-to-final-price {
  background: gold;
  color: white;
  font-weight: 800;
  /* padding: 3px 3px; */
  min-width: 150px;
  max-height: 25px;
  margin-top: 5px;
  border: solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

.quantity-and-name-one-product {
  display: flex;
  justify-content: space-between;
}
